body{
            background-image: url('assets/images/job.jpg'); /* Remplacez 'votre-image.jpg' par l'URL de votre image */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
}