#addService{
    display: none;
    position: fixed;
    z-index: 1;
    left: 300px;
    top: 0;
    width:50%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0,5);
    /* margin-left: 500px; */
}

.service{
    display: none;
    position: fixed;
    z-index: 1;
    left: 300px;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0,5);
    float: right;
}

.content-popup{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80%;
    box-shadow: inset;
}

.close-popup{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.pagination{
    position: relative;
    top:0;
    left:400px;
}
.pagination2{
    float: right;
    border: 1px solid rgb(00, 00,00);
}#addService{
    display: none;
    position: fixed;
    z-index: 1;
    left: 300px;
    top: 0;
    width:50%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0,5);
    /* margin-left: 500px; */
}

#updateService{
    display: none;
    position: fixed;
    z-index: 1;
    left: 300px;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0,5);
    float: right;
}

.content-popup{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80%;
    box-shadow: inset;
}

.close-popup{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}