<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sortie</title>
  <!-- plugins:css -->
  <link rel="stylesheet"  th:href="@{/assets/vendors/feather/feather.css}" type="text/css" >
  <link rel="stylesheet"  th:href="@{/assets/vendors/ti-icons/css/themify-icons.css}" type="text/css" >

  <link rel="stylesheet"  th:href="@{/assets/vendors/css/vendor.bundle.base.css}" type="text/css" >
  <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}" >

  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet"  th:href="@{/assets/css/vertical-layout-light/style.css}" type="text/css">
  <!-- endinject -->
  <link rel="shortcut icon"  th:href="@{/assets/images/favicon.png}" />
</head>

<style>
  ul{
      text-decoration: none;
      text-align: right;
      
  }
  li {
      display: inline;
      justify-content: center;
      width: 50%;
      margin: 2%;
      font-size: 20px;
  }
</style>

<body>
  <div class="col-lg-12" style="float: right;display: block;">
    <ul>
        <a href="/fourniseur/accuille" > <li> <i class="mdi mdi-chevron-left"></i>   </li> </a>
        <a href="/fourniseur/accuille" > <li> <i class="mdi mdi-close"></i>  </li> </a>
    </ul>
  </div>

  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Tout Produit</h4>
        <div class="table-responsive pt-3">
          
        <table class="table table-bordered">
          <thead>
            <tr>
              
              <th>Nom Client</th>
              <th>Nom produit</th>
              <th>Uniter</th>
              <th>Nom type payement</th>
              <th>Quantiter</th>
              <th>Prix Vente</th>
              <th>TVA</th>
              <th>Prix ttc</th>
              <th>Prix total</th>
              <th>Date commande</th>
              <th>Date delait</th>
              <th>Valider</th>

            </tr>
          </thead>
          <tbody>
            <form  th:action="@{/fourniseur/valider}" method="get">
              <tr th:each="produit : ${listedemande}">
                <td th:text="${produit.nomclient}"></td>
                <td th:text="${produit.nomproduit}"></td>
                <td th:text="${produit.nomuniter}"></td>
                <td th:text="${produit.nomtypepayement}"></td>
                <td th:text="${produit.quantiter}"></td>
                <td th:text="${produit.prixvente}"></td>
                <td th:text="${produit.tva}"></td>
                <td th:text="${produit.prixttc}"></td>
                <td th:text="${produit.prixtotal}"></td>
                <td th:text="${produit.datecommande}"></td>
                <td th:text="${produit.datedelait}"></td>
                <input type="hidden" name  />
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" name="idstock[]"  th:value="${produit.idstock}" checked>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="submit" value="Valider"  class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" >
                </td>
              </tr>

            </form>
            

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</body>
  <script  th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script  th:src="@{/assets/js/off-canvas.js}"></script>
  <script  th:src="@{/assets/js/hoverable-collapse.js}" ></script>
  <script th:src="@{/assets/js/template.js}" ></script>
  <script  th:src="@{/assets/js/settings.js}" ></script>
  <script th:src="@{/assets/js/todolist.js}" ></script>
  <!-- endinject -->
</html>